.background-gradient {
  color: #fff;
  background:
    linear-gradient(135deg, #f85032 0%,#f16f5c 24%,#f02f17 71%,#f6290c 91%,#f6290c 91%,#e73827 100%);

  .title {
    color: #fff;
    font-size: 25px;
  }
}